@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.coll_us
		span
			display: none !important
		font-size: 0.9em !important
	.coll-media, .circle
		display: none !important
	.anime-second
		font-size: 1.4em !important
	.bg-sale
		p
			font-size: 2.2em !important
	.why-thermopanel
		.block
			font-size: 14px !important
		h3
			font-size: 0.9em !important
		.photo-termopanel-why
			margin-top: 41px
	.content-products
		.block-products
			.prod-text
				left: 95px !important
	.we-can-trust
		.content-block
			h3
				font-size: 0.9em !important
	.how-to-find-us
		font-size: 1.7em
	.how-to-find-us .wrrap .block-content h2
		margin: 10px 0 !important
		&::after
			top: 60px
	.products .wrraper .content-products h2
		font-size: 2.2em
	.why-thermopanel .wrrap-h1 h2
		font-size: 2.2em
	.we-can-trust .wrrap-trust .wrrap-h2
		margin-top: 0
	.we-can-trust .wrrap-trust .wrrap-bth-trus a
		margin: 50px 0

	.how-to-find-us .wrrap .block-content .wrrap-for-map
    position: absolute;
    width: 579px
    height: 435px
    bottom: 48px
    left: 192px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.slick-dots
		display: none !important
	.products .wrap-block-products
		margin-bottom: 50px
	.coll_us
		span
			display: none !important
		.phone-num
			font-size: 0.8em
	.requst-a-coll-p1
		a
			width: 180px !important
			height: 40px !important
			line-height: 41px !important
			font-size: 0.8em !important
	h1
		font-size: 2em !important
	body .main-header h1
		margin: 30px 0
	.bg-sale
		p
			font-size: 1.4em !important
			padding: 15px 0 !important
	.bg-termopanel
		.anime-second
			font-size: 1em !important
	.wrrap-block-why
		display: flex
		flex-wrap: wrap
		.block:nth-child(5)
			display: none
		.block
			width: 50%
	.products .wrraper .block-products .product
		height: 180px !important
	.why-thermopanel .bg-sale a
		margin: 0 0 60px 0
	.bg-sale
		position: relative !important
	.main-header .bg-termopanel
		bottom: 0 !important
		position: relative
	.main-header p
		margin: 0 0 30px 0 !important
	.we-can-trust .wrrap-trust .wrrap-h2
		margin-top: 0
	.we-can-trust .wrrap-trust .wrrap-bth-trus a
		margin: 65px 0
	.products .wrraper .content-products h2
		margin: 10px 0
	.how-to-find-us .wrrap .block-content h2
		font-size: 1.2em
		margin: 0
		&::after
			top: 45px
	.products .wrraper .content-products .wrrap-photo-notebook
		top: -98px
	.logo
		img
			width: 160px
	.how-to-find-us .wrrap .block-content .wrrap-for-map
	    position: absolute;
	    width: 447px;
	    height: 335px;
	    bottom: 38px;
	    left: 149px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.slick-prev
		left: 10px
	.slick-next
		right: 10px

	/*Disable Animation on Mobile Devices*/
	
	.animated
		/*CSS transitions*/
		//-o-transition-property: none !important
		//-moz-transition-property: none !important
		//-ms-transition-property: none !important
		//-webkit-transition-property: none !important
		//transition-property: none !important
		/*CSS transforms*/
		//-o-transform: none !important
		//-moz-transform: none !important
		//-ms-transform: none !important
		//-webkit-transform: none !important
		//transform: none !important
		/*CSS animations*/
		//-webkit-animation: none !important
		//-moz-animation: none !important
		//-o-animation: none !important
		//-ms-animation: none !important
		//animation: none !important
	.products .wrap-block-products
		margin-bottom: 50px
	.content-products h2
		margin: 10px 0 !important
	.logo
		img
			width: 120px
	.bg-sale p
		font-size: 1em !important
		margin: 0 !important
	.main-header .bg-sale a
		margin-bottom: 27px !important
		line-height: 34px	!important
		width: 120px !important
		height: 35px !important
	.requst-a-coll-p1 a
		line-height: 34px !important
		width: 140px !important
		height: 35px !important
	.wrapp-head
		height: 70px !important
	.coll_us, .phone-num
		line-height: 72px !important
	h1
		font-size: 1.6em !important
	.social p
		font-size: 13px !important
	.contact-block
		&:first-child
			font-size: 13px !important
	.we-can-trust .wrrap-trust .content-block .content-block-fx
		flex-direction: column
	// .how-to-find-us .wrrap .block-content .wrrap-for-map
	//     position: absolute
	//     width: 357px
	//     height: 268px
	//     bottom: 30px
	//     left: 119px
	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.slick-prev
		display: none !important
	.slick-next
		display: none !important
	.wrrap-block-why .block
		width: 100%
	.wrrap-h1 h2
		font-size: 1em !important
	.why-thermopanel .bg-sale a
		width: 290px !important
	.we-can-trust .wrrap-trust .wrrap-bth-trus a
		width: 290px !important
	.how-to-find-us .block-content h2
		font-size: 1em !important
	.wrrap-contact-block
		flex-direction: column !important
	.order-1
		order: 1 !important
	.order-2
		order: 2 !important
	.order-3
		order: 3 !important
	.requst-a-coll-p1 a
		display: none !important
	.we-can-trust .wrrap-trust .wrrap-bth-trus a
		margin: 40px 0 !important
		&::before
			top: 35px !important
	.we-can-trust .wrrap-trust h2
		font-size: 1.6em !important
		margin-bottom: 0 !important
	.content-products h2
		font-size: 1.6em !important
		margin: 10px 0 !important
		&::after
			display: none !important
	body .coll_us, body .phone-num
		text-align: right
	.text-call-us
		font-size: 0.7em
	body .phone-num
		margin-left: 0
	.wrrap-block-why
		flex-direction: column
	.products .wrap-block-products
		margin-bottom: 50px
	.block-content
		h2
			&::after
				top: 40px
	.how-to-find-us .wrrap .block-content h2
		&::after
			top: 35
	.photo-tablet
		display: none
	.how-to-find-us .wrrap .block-content .wrrap-for-map
	    position: relative
	    width: 100%
	    height: 260px
	    bottom: 0
	    left: 0
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/
	
/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/
	
/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

