@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.coll_us
		span
			display: none !important
		font-size: 0.9em !important
	.coll-media, .circle
		display: none !important
	.anime-second
		font-size: 1.4em !important
	.bg-sale
		p
			font-size: 2.2em !important
	.wrrap-h1
		h2
			font-size: 2.2em !important
			&::after
				left: 120px !important
	.why-thermopanel
		.block
			font-size: 14px !important
		h3
			font-size: 0.9em !important
			&::after
				left: 112px
				bottom: 178px
		.photo-termopanel-why
			margin-top: 41px
	.content-products
		.block-products
			.prod-text
				left: 95px !important
		h2
			font-size: 2.2em !important
	.we-can-trust
		.content-block
			h3
			font-size: 0.9em !important
	.how-to-find-us
		.block-content
			h2
				margin: 10px
				font-size: 1.2em
				&::before
					top: 60px !important
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.coll_us
		span
			display: none !important
		.phone-num
			font-size: 0.8em
	.requst-a-coll-p1
		a
			width: 180px !important
			height: 40px !important
			line-height: 41px !important
			font-size: 0.8em !important
	h1
		font-size: 2em !important
	.bg-sale
		p
			font-size: 1.4em !important
			padding: 15px 0 !important
	.bg-termopanel
		.anime-second
			font-size: 1em !important
		bottom: 149px !important
	.wrrap-h1
		h2
			&::after
				left: 165px !important
	.wrrap-block-why
		display: flex
		flex-wrap: wrap
		.block:nth-child(5)
			display: none
		.block
			width: 50%
			h3
				&::after
					left: 138px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

