@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/magnific-popup/dist/magnific-popup"
@import "app/libs/font-awesome/scss/font-awesome"
@import "app/css/magnific-custom"
@import "app/libs/slick/slick.scss"
@import "app/libs/slick/slick-theme.scss"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
h1, h2, h3, h4
	color: $cr-nfy-p2
h2
	display: inline-block
	//margin: 0
body
	overflow-x: hidden
	font-family: "Open-Sans", sans-serif
//Custom Styles Here

.success
	position: absolute
	visibility: hidden
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #FFF
	font-family: "Open-Sans", Arial, sans-serif
	font-size: 20px
	padding: 30px
	text-transform: uppercase
	display: flex
	align-items: center
	background: lighten(#e8e6d8, 5%)

.why-thermopanel
	border-top: 2px solid $cr-nfy-p2
	background: url(/img/termopanel.jpg) no-repeat 50% 50%
	background-size: cover
	text-align: center
	.wrrap-h1
		h2
			font-size: 2.4em
			position: relative
			&::after
				content: ''
				height: 3px
				width: 100%
				background: $accent-color
				position: absolute
				left: 0
				bottom: 0
	.wrrap-block-why
		.wrap-h3
			position: relative
		.block
			height: 200px
			text-align: center
			line-height: 30px
			padding: 0 50px
			h3
				position: relative
				text-align: center
				text-transform: uppercase
				display: inline-block
				&::after
					background-color: $accent-color
					content: ''
					position: absolute
					width: 100%
					height: 2px
					left: 0
					bottom: 0
	.bg-sale
		width: 100%
		text-align: center
		position: relative
		background: transparent

		a
			color: #fff
			vertical-align: middle
			text-align: center
			display: inline-block
			text-decoration: none
			outline: none
			font-family: "Open-Sans", Arial, sans-serif
			font-size: 0.9em bold
			text-transform: uppercase
			line-height: 54px
			width: 400px
			height: 55px
			background: $cr-nfy-p2
			border-radius: 5px
			border: 1px solid #fff
			margin: 35px 0 100px 0
			box-shadow: 0 3px 1px $color-notify
			transition: .3s
			&:hover
				color: $accent-color
				border: 1px solid $accent-color
.products
	border-top: 2px solid $cr-nfy-p2
	border-bottom: 2px solid $cr-nfy-p2
	.wrraper
		position: relative
		text-align: center
		.content-products
			text-align: center
			.wrrap-photo-notebook
				position: relative
				top: -160px
				img
					position: absolute
					top: 0
					right: 0
					left: 0
					bottom: 0
			h2
				color: #fff
				font-size: 2.4em
				position: relative
				z-index: 10
				&::after
					content: ''
					height: 2px
					width: 100%
					position: absolute
					left: 0
					bottom: 0
					background: #fff

		&::after
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: $cr-nfy-p2
			opacity: 0.6
			z-index: 2
		.bg-products
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 1
			background-repeat: no-repeat
			background-size: contain
	.wrap-block-products
		margin-bottom: 150px
		.row
			margin: 0 !important
		.our-work2
			display: none
		.wrap-look-more
			position: relative
			z-index: 889
			margin-top: 50px
			.look-more
				text-decoration: none
				color:#ffffff
				transition: all .2s ease-out
				&:hover
					color: darken(#ffffff, 20%)
		.wrap-desc-product
			z-index: 111
			text-align: left
			border: 1px solid #ffffff
		.photo-galery-2
			.after, .before, .after-1, .before-1
				background: #fff
			.after, .before img,
			.after-1, .before-1 img
				padding: 1px
			.slick-dots
				left: 50%
				bottom: -40px
				margin-left: 16px
				z-index: 8888
		h3, p
			color: #ffffff
			margin: 0
			margin-bottom: 5px
			line-height: 1.5em

		.slider-1 > a
			display: none
			&:nth-child(3)
				display: block
				width: 100%
		.slick-next
			background: url(../img/right-arrow.png) no-repeat 50% 50% #cccccc
			width: 25px
			height: 25px
			z-index: 901
		.slick-prev
			background: url(../img/left-arrow.png) no-repeat 50% 50% #cccccc
			width: 25px
			height: 25px
			z-index: 901
		.slick-next::before,
		.slick-prev::before
			content: ''
		.slick-dots li button:before
			font-size: 12px
			background: #1b1b1b
			border-radius: 50%
			content: ''
		.slick-dots li
			margin: 0 10px
		.photo-item
			position: relative
			background: #cccccc
			z-index: 20
			transition: 0.3s
			cursor: pointer
			padding: 2px
			display: block
			.galery
				position: absolute
				top: 60%
				left: 50%
				margin-left: -36px
			img
				width: 100%
			span
				font-size: 20px
				color: #fff
				opacity: 1
				top: 150px
				left: 90px
				transition: .3s ease
				z-index: 39
				position: absolute
			.fa
				font-size: 26px
				color: #fff
				position: absolute
				top: 50%
				left: 50%
				margin-top: -10px
				margin-left: -10px
				transition: .3s all ease
				opacity: 1
				z-index: 35
			&::after
				position: absolute
				content: ''
				width: 100%
				height: 100%
				top: 0
				left: 0
				background-color: lighten(#ffffff, 10%)
				opacity: 0.3
				transition: .3s all ease
		.photo-item
			&:hover
				.fa
					opacity: .4
				&::after
					opacity: .6
					outline: 1px solid #fff
		.photo-item
			&:hover span
				opacity: .6

.we-can-trust
	border-bottom: 2px solid $cr-nfy-p2
	font-family: "Open-Sans", sans-serif
	.service
		padding: 0 10px
		margin: auto
		margin-top: 30px
		font-weight: 600
	.docs
		position: relative
		margin-top: 30px
		outline: none
		z-index: 50
	.wrrap-trust
		position: relative
		.wrrap-h2
			text-align: center
			margin-top: 100px
			h2
				font-size: 2.4em
				display: inline-block
				position: relative
				&::after
					content: ''
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 3px
					background-color: #9a3645
		&::before
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			opacity: .2
			background: url(/img/photo-trust.jpg) no-repeat 50% 50%
			background-size: cover
			z-index: 0
		.content-block
			text-align: center
			display: flex
			flex-direction: column
			justify-content: space-around

			.content-block-fx
				display: flex
				justify-content: center
				.block-trust
					padding: 0 50px
					text-align: left
					h3
						position: relative
						display: inline-block
						&::after
							content: ''
							position: absolute
							bottom: 0
							left: 0
							width: 100%
							height: 3px
							background-color: $accent-color
		
		.wrrap-bth-trus
			text-align: center
			a
				color: #fff
				vertical-align: middle
				text-align: center
				display: inline-block
				text-decoration: none
				outline: none
				font-family: "Open-Sans", Arial, sans-serif
				font-size: 0.9em bold
				text-transform: uppercase
				line-height: 54px
				width: 400px
				height: 55px
				background: $cr-nfy-p2
				border-radius: 5px
				border: 1px solid #fff
				margin: 100px 0
				box-shadow: 0 3px 1px $color-notify
				position: relative
				z-index: 20
				transition: .3s
				&:hover
					color: $accent-color
					border: 1px solid $accent-color

.how-to-find-us
	text-align: center
	font-size: 2.2em
	.wrrap
		position: relative
		&::before
			content: ''
			background: $cr-nfy-p2
			opacity: .5
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 2
		.bg-how-to-find-us
			position: absolute
			background: url(/img/map.jpg) no-repeat
			background-size: cover
			top: 0
			left: 0
			right: 0
			bottom: 0
		.block-content
			position: relative
			h2
				color: #fff
				position: relative
				z-index: 11
				display: inline-block
				&::after
					content: ''
					position: absolute
					top: 70px
					left: 0
					height: 2px
					width: 100%
					background: #fff
			img
				z-index: 10
				position: relative
			.wrrap-for-map
				position: absolute;
				width: 692px
				height: 516px
				bottom: 58px
				left: 234px
				iframe
					position: relative;
					z-index: 11;
					bottom: 0;
					width: 100%;
					left: 0;
					height: 100%;
					right: 0;
					top: 0;
footer
	background-color: #141e1f
	text-align: center
	color: #fff
	border-top: 2px solid #fff
	.wrrap-contact-block
		display: flex
		justify-content: space-around
	.social
		border-left: 2px solid #fff
		border-right: 2px solid #fff
		ul
			text-align: center
			li
				display: inline-block
				font-size: 32px
				margin-right: 10px
				a:hover
					color: darken(#fff, 30%)

		img
			margin-top: 20px
			display: inline-block
	.contact-block:first-child
		border-left: 2px solid #fff
	.contact-block	
		color: #fff
		text-align: left
		margin-top: 20px
		h3
			color: #fff
			position: relative
			display: inline-block
			&::after
				position: absolute
				content: ''
				width: 100%
				height: 1px
				top: 25px
				left: 0
				background-color: #FFF
		ul

			padding: 0 0 0 5px
			li
				list-style-type: none
				a
					color: #fff
	.contacts
		text-align: right
		border-right: 2px solid #fff
		li
			font-size: 12px	


//ALWAYS END
@import "media"

