@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/magnific-popup/dist/magnific-popup"
@import "app/libs/font-awesome/scss/font-awesome"
@import "app/css/magnific-custom"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
h1, h2, h3, h4
	color: $cr-nfy-p2
//Custom Styles Here
.success
	position: absolute
	visibility: hidden
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: #FFF
	font-family: "Open-Sans", Arial, sans-serif
	font-size: 20px
	padding: 30px
	text-transform: uppercase
	display: flex
	align-items: center
	background: lighten(#e8e6d8, 5%)

.why-thermopanel
	background: url(/img/termopanel.jpg) no-repeat 50% 50%
	background-size: cover
	text-align: center
	.wrrap-h1
		h2
			font-size: 2.4em
			position: relative
			text-align: center
			&::after
				content: ''
				height: 3px
				width: 400px
				background: $accent-color
				position: absolute
				left: 180px
				bottom: -10px
	.block
		height: 223px
		text-align: center
		line-height: 30px
		padding: 0 50px
		overflow: hidden
		animation-delay: 0.3s	
	h3
		text-align: center
		text-transform: uppercase
		&::after
			border-bottom: 2px solid $accent-color
			content: ''
			position: absolute
			width: 100px
			height: 2px
			left: 145px
			bottom: 162px
	.bg-sale
		width: 100%
		text-align: center
		position: relative
		background: transparent

		a
			color: #fff
			vertical-align: middle
			text-align: center
			display: inline-block
			text-decoration: none
			outline: none
			font-family: "Open-Sans", Arial, sans-serif
			font-size: 0.9em bold
			text-transform: uppercase
			line-height: 54px
			width: 400px
			height: 55px
			background: $cr-nfy-p2
			border-radius: 5px
			border: 1px solid #fff
			margin: 35px 0 100px 0
			box-shadow: 0 3px 1px $color-notify
			transition: .3s
			&:hover
				color: $accent-color
				border: 1px solid $accent-color
.products
	.wrraper
		position: relative
		text-align: center
		.content-products
			text-align: center
			.wrrap-photo-notebook
				position: relative
				img
					position: absolute
					top: -50px
					right: 0
					left: 0
					bottom: 0
			h2
				color: #fff
				font-size: 2.4em
				position: relative
				z-index: 10
				&::after
					content: ''
					height: 2px
					width: 100%
					position: absolute
					left: 0
					bottom: 0
					background: #fff

		&::after
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: $cr-nfy-p2
			opacity: 0.6
			z-index: 2
		.bg-products
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 1
		.block-products
			position: relative
			z-index: 20
			width: 100%
			display: flex
			&:last-child
				margin-bottom: 125px
			.product
				position: relative
				padding: 0
				width: 25%
				height: 200px
				background: lighten($cr-nfy-p2, 10%)
				text-decoration: none
				color: $cr-nfy-p2
				border: 1px solid lighten($cr-nfy-p2, 60%)
				.prod-text
					position: absolute
					top: 20px
					left: 120px
					color: #fff
				&:hover .proeye
					opacity: 0.5
					left: 0
				.proeye
					background: #000
					width: 100%
					height: 100%
					font-size: 1.5em
					opacity: 0
					position: absolute
					left: -9999em
					color: #fff
					outline: 2px solid #fff
					transition: .3s opacity
					display: flex
					align-items: center
					justify-content: center

.we-can-trust
	font-family: "Open-Sans", sans-serif
	.wrrap-trust
		position: relative
		h2
			font-size: 2.4em
		&::before
			content: ''
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			opacity: .2
			background: url(/img/photo-trust.jpg) no-repeat 50% 50%
			background-size: cover
		.content-block
			margin-top: 100px	
			text-align: center
			.block-trust
				padding: 0 50px
				text-align: center
		.btn-trust
			color: #fff
			text-align: center
			display: inline-block
			text-decoration: none
			outline: none
			font-family: "Open-Sans", Arial, sans-serif
			font-size: 0.9em bold
			text-transform: uppercase
			line-height: 54px
			width: 400px
			height: 55px
			background: $cr-nfy-p2
			border-radius: 5px
			border: 1px solid #fff
			margin: 100px 0
			box-shadow: 0 3px 1px $color-notify
			position: relative
			left: -200px
			transition: .3s
			&:hover
				color: lighten($accent-color, 20%)
				border: 1px solid $accent-color
	



			







//ALWAYS END
@import "media"

